In [ ]:
# This file include the following Data Wrangling activities:
# - Data cleaning - excluding date formatting

# Other Data Wrangling activities covered in other files:
# - Data cleaning - date formatting
# - Data normalisation - part of Model Development

# The following Data Wrangling activities were not performed:
# - Data standardisation - data were already in a similar range
# - Binning
# - Indicator (dummy) variable allocation

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import dataset
AccidentData = pd.read_csv('E:/Training Development/Coursera/IBM Data Science/Course 9 - Capstone Project/Capstone Project Data/Capstone Data.csv')

In [3]:
len(AccidentData.index)

194673

In [4]:
len(AccidentData.columns)

38

In [5]:
AccidentData.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [6]:
#Create dataset from imported dataset called IncidentData
IncidentData = AccidentData

In [7]:
len(IncidentData.index)

194673

In [8]:
len(IncidentData.columns)

38

In [9]:
#Delete non-relevant columns (excl INCDATE and INCDTTM)
IncidentData.drop(['X', 'Y','COLDETKEY', 'INCKEY', 'ADDRTYPE', 'REPORTNO', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'COLLISIONTYPE','ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR', 'SEVERITYCODE.1', 'STATUS', 'PERSONCOUNT','PEDCOUNT','PEDCYLCOUNT','VEHCOUNT'], axis = 1, inplace = True)

In [10]:
IncidentData.head()

,SEVERITYCODE,OBJECTID,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,2,1,Injury Collision,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),Overcast,Wet,Daylight
1,1,2,Property Damage Only Collision,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On
2,1,3,Property Damage Only Collision,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),Overcast,Dry,Daylight
3,1,4,Property Damage Only Collision,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),Clear,Dry,Daylight
4,2,5,Injury Collision,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),Raining,Wet,Daylight

In [11]:
#Re-order columns
IncidentData = IncidentData[['OBJECTID', 'SEVERITYCODE', 'SEVERITYDESC',  'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'WEATHER', 'ROADCOND', 'LIGHTCOND']]

In [12]:
IncidentData.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,1,2,Injury Collision,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),Overcast,Wet,Daylight
1,2,1,Property Damage Only Collision,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On
2,3,1,Property Damage Only Collision,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),Overcast,Dry,Daylight
3,4,1,Property Damage Only Collision,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),Clear,Dry,Daylight
4,5,2,Injury Collision,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),Raining,Wet,Daylight

In [13]:
len(IncidentData.index)

194673

In [14]:
len(IncidentData.columns)

9

In [15]:
#Identify missing values - first iteration
CleanData = IncidentData.isnull()
CleanData.head(5)
#Missing data = True

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [16]:
#Count the missing values in each column
for column in CleanData.columns.values.tolist():
    print(column)
    print (CleanData[column].value_counts())
    print("")

OBJECTID
False    194673
Name: OBJECTID, dtype: int64

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64

In [ ]:
#Based on the above analysis, the following columns have missing values:
# - JUNTIONTYPE (6329) - 3.25% of dataset
# - WEATHER (5081) - 2.6% of dataset
# - ROADCOND (5012) - 2.6% of dataset
# - LIGHTCOND (5170) - 2.7% of dataset
#Further anlaysis on the csv dataset indicates that in 4947 cases the combination of WEATHER, ROADCOND and LIGHTCOND have empty fields and will therefore not contribute to the scope of the analysis and can be deleted. The balance of empty values for WEATHER (134), ROADCOND (65) and LIGHTCOND (223) are less than 0.2% of the dataset and can also be deleted.

In [17]:
#Drop rows where WEATHER, ROADCOND AND LIGHTCONT have missing data.

IncidentData.dropna(subset=['WEATHER', 'ROADCOND', 'LIGHTCOND'], axis=0, inplace = True)

In [19]:
len(IncidentData.index)

189337

In [20]:
# Reset index, because rows were dropped
IncidentData.reset_index(drop=True, inplace=True)

In [21]:
#Identify missing values - second iteration
CleanData2 = IncidentData.isnull()
CleanData.head(5)
#Missing data = True

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [22]:
#Count the missing values in each column on the updated dataset
for column in CleanData2.columns.values.tolist():
    print(column)
    print (CleanData2[column].value_counts())
    print("")

OBJECTID
False    189337
Name: OBJECTID, dtype: int64

SEVERITYCODE
False    189337
Name: SEVERITYCODE, dtype: int64

SEVERITYDESC
False    189337
Name: SEVERITYDESC, dtype: int64

INCDATE
False    189337
Name: INCDATE, dtype: int64

INCDTTM
False    189337
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    183196
True       6141
Name: JUNCTIONTYPE, dtype: int64

WEATHER
False    189337
Name: WEATHER, dtype: int64

ROADCOND
False    189337
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189337
Name: LIGHTCOND, dtype: int64

In [23]:
# Replace empty values in the JUNTIONTYPE column with 'Unknown'
IncidentData["JUNCTIONTYPE"].replace(np.nan, "Unknown", inplace=True)

In [24]:
#Identify missing values - 3rd iteration
CleanData3 = IncidentData.isnull()
CleanData.head(5)
#Missing data = True

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [25]:
for column in CleanData3.columns.values.tolist():
    print(column)
    print (CleanData3[column].value_counts())
    print("")

OBJECTID
False    189337
Name: OBJECTID, dtype: int64

SEVERITYCODE
False    189337
Name: SEVERITYCODE, dtype: int64

SEVERITYDESC
False    189337
Name: SEVERITYDESC, dtype: int64

INCDATE
False    189337
Name: INCDATE, dtype: int64

INCDTTM
False    189337
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    189337
Name: JUNCTIONTYPE, dtype: int64

WEATHER
False    189337
Name: WEATHER, dtype: int64

ROADCOND
False    189337
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189337
Name: LIGHTCOND, dtype: int64

In [26]:
IncidentData.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,1,2,Injury Collision,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),Overcast,Wet,Daylight
1,2,1,Property Damage Only Collision,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On
2,3,1,Property Damage Only Collision,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),Overcast,Dry,Daylight
3,4,1,Property Damage Only Collision,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),Clear,Dry,Daylight
4,5,2,Injury Collision,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),Raining,Wet,Daylight

In [27]:
len(IncidentData.index)

189337

In [28]:
len(IncidentData.columns)

9

In [29]:
# Export pandas dataframe to laptop for further use in analysis
IncidentData.to_csv(r'E:\Training Development\Coursera\IBM Data Science\Course 9 - Capstone Project\Capstone Project Data\IncidentData_1.csv', index = None, header = True)