This file include the following Data Wrangling activities:
- Data cleaning - date formatting

Other Data Wrangling activities covered in other files:
- Data cleaning - other
- Data normalisation - part of Model Development

The following Data Wrangling activities were not performed on the dataset:
- Data standardisation - data were already in a similar format
- Binning
- Indicator (dummy) variable allocation

In [1]:
import pandas as pd
import numpy as np

# Import and analyse data set

In [2]:
AccidentData2 = pd.read_csv('E:\Training Development\Coursera\IBM Data Science\Course 9 - Capstone Project\Capstone Project Data\IncidentData_1.csv')

In [3]:
AccidentData2.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,1,2,Injury Collision,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),Overcast,Wet,Daylight
1,2,1,Property Damage Only Collision,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On
2,3,1,Property Damage Only Collision,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),Overcast,Dry,Daylight
3,4,1,Property Damage Only Collision,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),Clear,Dry,Daylight
4,5,2,Injury Collision,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),Raining,Wet,Daylight

In [4]:
len(AccidentData2.index)

189337

In [5]:
len(AccidentData2.columns)

9

# Derive date and time columns from INCDTTM

In [6]:
import datetime

In [7]:
AccidentData2['Dates'] = pd.to_datetime(AccidentData2['INCDTTM']).dt.date 
AccidentData2['Time'] = pd.to_datetime(AccidentData2['INCDTTM']).dt.time

In [8]:
AccidentData2.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Dates,Time
0,1,2,Injury Collision,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),Overcast,Wet,Daylight,2013-03-27,14:54:00
1,2,1,Property Damage Only Collision,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On,2006-12-20,18:55:00
2,3,1,Property Damage Only Collision,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),Overcast,Dry,Daylight,2004-11-18,10:20:00
3,4,1,Property Damage Only Collision,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),Clear,Dry,Daylight,2013-03-29,09:26:00
4,5,2,Injury Collision,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),Raining,Wet,Daylight,2004-01-28,08:04:00

In [9]:
len(AccidentData2.index)

189337

In [10]:
len(AccidentData2.columns)

11

# Convert Dates and Time to datetime format

In [11]:
AccidentData2['Dates'] = pd.to_datetime(AccidentData2['Dates'], format='%Y-%m-%d')
AccidentData2['Time'] = pd.to_datetime(AccidentData2['Time'], format='%H:%M:%S')

Derive 'Day of Week' with Monday = 0 and Sunday = 6

In [12]:
AccidentData2['Day of week'] = AccidentData2['Dates'].dt.dayofweek

In [13]:
AccidentData2.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,INCDATE,INCDTTM,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Dates,Time,Day of week
0,1,2,Injury Collision,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),Overcast,Wet,Daylight,2013-03-27,1900-01-01 14:54:00,2
1,2,1,Property Damage Only Collision,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On,2006-12-20,1900-01-01 18:55:00,2
2,3,1,Property Damage Only Collision,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),Overcast,Dry,Daylight,2004-11-18,1900-01-01 10:20:00,3
3,4,1,Property Damage Only Collision,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),Clear,Dry,Daylight,2013-03-29,1900-01-01 09:26:00,4
4,5,2,Injury Collision,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),Raining,Wet,Daylight,2004-01-28,1900-01-01 08:04:00,2

In [14]:
AccidentData2.describe()

            OBJECTID   SEVERITYCODE    Day of week
count  189337.000000  189337.000000  189337.000000
mean   106689.517073       1.301325       2.943434
std     62195.547505       0.458835       1.922760
min         1.000000       1.000000       0.000000
25%     53039.000000       1.000000       1.000000
50%    104055.000000       1.000000       3.000000
75%    159857.000000       2.000000       5.000000
max    219547.000000       2.000000       6.000000

# Delete original INCDTTM and INCDATE columns

In [15]:
AccidentData2.drop(['INCDATE', 'INCDTTM'], axis = 1, inplace = True)

In [16]:
AccidentData2.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Dates,Time,Day of week
0,1,2,Injury Collision,At Intersection (intersection related),Overcast,Wet,Daylight,2013-03-27,1900-01-01 14:54:00,2
1,2,1,Property Damage Only Collision,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On,2006-12-20,1900-01-01 18:55:00,2
2,3,1,Property Damage Only Collision,Mid-Block (not related to intersection),Overcast,Dry,Daylight,2004-11-18,1900-01-01 10:20:00,3
3,4,1,Property Damage Only Collision,Mid-Block (not related to intersection),Clear,Dry,Daylight,2013-03-29,1900-01-01 09:26:00,4
4,5,2,Injury Collision,At Intersection (intersection related),Raining,Wet,Daylight,2004-01-28,1900-01-01 08:04:00,2

Derive the month of the year with January = 1 and December = 12

In [17]:
AccidentData2['Month of Year'] = AccidentData2['Dates'].dt.month

In [18]:
AccidentData2.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Dates,Time,Day of week,Month of Year
0,1,2,Injury Collision,At Intersection (intersection related),Overcast,Wet,Daylight,2013-03-27,1900-01-01 14:54:00,2,3
1,2,1,Property Damage Only Collision,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On,2006-12-20,1900-01-01 18:55:00,2,12
2,3,1,Property Damage Only Collision,Mid-Block (not related to intersection),Overcast,Dry,Daylight,2004-11-18,1900-01-01 10:20:00,3,11
3,4,1,Property Damage Only Collision,Mid-Block (not related to intersection),Clear,Dry,Daylight,2013-03-29,1900-01-01 09:26:00,4,3
4,5,2,Injury Collision,At Intersection (intersection related),Raining,Wet,Daylight,2004-01-28,1900-01-01 08:04:00,2,1

In [19]:
AccidentData2.describe()

            OBJECTID   SEVERITYCODE    Day of week  Month of Year
count  189337.000000  189337.000000  189337.000000  189337.000000
mean   106689.517073       1.301325       2.943434       6.567311
std     62195.547505       0.458835       1.922760       3.424086
min         1.000000       1.000000       0.000000       1.000000
25%     53039.000000       1.000000       1.000000       4.000000
50%    104055.000000       1.000000       3.000000       7.000000
75%    159857.000000       2.000000       5.000000      10.000000
max    219547.000000       2.000000       6.000000      12.000000

# Delete non-relevant columns

In [20]:
AccidentData2.drop(['Dates', 'Time'], axis = 1, inplace = True)

In [21]:
AccidentData2.dtypes

OBJECTID          int64
SEVERITYCODE      int64
SEVERITYDESC     object
JUNCTIONTYPE     object
WEATHER          object
ROADCOND         object
LIGHTCOND        object
Day of week       int64
Month of Year     int64
dtype: object

In [22]:
AccidentData2.to_csv(r'E:\Training Development\Coursera\IBM Data Science\Course 9 - Capstone Project\Capstone Project Data\AccidentData_2.csv', index = None, header = True)