In [1]:
import pandas as pd 
import numpy as np
import itertools
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
from sklearn import preprocessing
%matplotlib inline

# Import and analyse data set

In [2]:
#Import dataset - same dataset used for Exploratory Analysis
AccidentData4 = pd.read_csv('E:\Training Development\Coursera\IBM Data Science\Course 9 - Capstone Project\Capstone Project Data\AccidentData_2.csv')

In [3]:
AccidentData4.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Day of week,Month of Year
0,1,2,Injury Collision,At Intersection (intersection related),Overcast,Wet,Daylight,2,3
1,2,1,Property Damage Only Collision,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On,2,12
2,3,1,Property Damage Only Collision,Mid-Block (not related to intersection),Overcast,Dry,Daylight,3,11
3,4,1,Property Damage Only Collision,Mid-Block (not related to intersection),Clear,Dry,Daylight,4,3
4,5,2,Injury Collision,At Intersection (intersection related),Raining,Wet,Daylight,2,1

In [4]:
len(AccidentData4.index)

189337

In [5]:
len(AccidentData4.columns)

9

# Change WEATHER attributes to integers

In [6]:
AccidentData4.WEATHER.replace(to_replace=['Overcast'],value='1', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Raining'],value='2', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Clear'],value='3', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Blowing Sand/Dirt'],value='4', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Fog/Smog/Smoke'],value='5', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Other'],value='6', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Partly Cloudy'],value='7', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Severe Crosswind'],value='8', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Sleet/Hail/Freezing Rain'],value='9', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Snowing'],value='10', inplace = True)
AccidentData4.WEATHER.replace(to_replace=['Unknown'],value='11', inplace = True)

In [7]:
AccidentData4.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Day of week,Month of Year
0,1,2,Injury Collision,At Intersection (intersection related),1,Wet,Daylight,2,3
1,2,1,Property Damage Only Collision,Mid-Block (not related to intersection),2,Wet,Dark - Street Lights On,2,12
2,3,1,Property Damage Only Collision,Mid-Block (not related to intersection),1,Dry,Daylight,3,11
3,4,1,Property Damage Only Collision,Mid-Block (not related to intersection),3,Dry,Daylight,4,3
4,5,2,Injury Collision,At Intersection (intersection related),2,Wet,Daylight,2,1

Change ROADCOND attributes to integers

In [8]:
AccidentData4.ROADCOND.replace(to_replace=['Dry'],value='1', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Ice'],value='2', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Oil'],value='3', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Other'],value='4', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Sand/Mud/Dirt'],value='5', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Snow/Slush'],value='6', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Standing Water'],value='7', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Unknown'],value='8', inplace = True)
AccidentData4.ROADCOND.replace(to_replace=['Wet'],value='9', inplace = True)

In [9]:
AccidentData4.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Day of week,Month of Year
0,1,2,Injury Collision,At Intersection (intersection related),1,9,Daylight,2,3
1,2,1,Property Damage Only Collision,Mid-Block (not related to intersection),2,9,Dark - Street Lights On,2,12
2,3,1,Property Damage Only Collision,Mid-Block (not related to intersection),1,1,Daylight,3,11
3,4,1,Property Damage Only Collision,Mid-Block (not related to intersection),3,1,Daylight,4,3
4,5,2,Injury Collision,At Intersection (intersection related),2,9,Daylight,2,1

# Change LIGHTCOND attributes to integers

In [10]:
AccidentData4.LIGHTCOND.replace(to_replace=['Dark - No Street Lights'],value='1', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Dark - Street Lights Off'],value='2', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Dark - Street Lights On'],value='3', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Dark - Unknown Lighting'],value='4', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Dawn'],value='5', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Daylight'],value='6', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Dusk'],value='7', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Other'],value='8', inplace = True)
AccidentData4.LIGHTCOND.replace(to_replace=['Unknown'],value='9', inplace = True)

In [11]:
AccidentData4.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Day of week,Month of Year
0,1,2,Injury Collision,At Intersection (intersection related),1,9,6,2,3
1,2,1,Property Damage Only Collision,Mid-Block (not related to intersection),2,9,3,2,12
2,3,1,Property Damage Only Collision,Mid-Block (not related to intersection),1,1,6,3,11
3,4,1,Property Damage Only Collision,Mid-Block (not related to intersection),3,1,6,4,3
4,5,2,Injury Collision,At Intersection (intersection related),2,9,6,2,1

# Change JUNCTIONTYPE attributes to integers

In [12]:
AccidentData4.JUNCTIONTYPE.replace(to_replace=['At Intersection (but not related to intersection)'],value='1', inplace = True)
AccidentData4.JUNCTIONTYPE.replace(to_replace=['At Intersection (intersection related)'],value='2', inplace = True)
AccidentData4.JUNCTIONTYPE.replace(to_replace=['Driveway Junction'],value='3', inplace = True)
AccidentData4.JUNCTIONTYPE.replace(to_replace=['Mid-Block (but intersection related)'],value='3', inplace = True)
AccidentData4.JUNCTIONTYPE.replace(to_replace=['Mid-Block (not related to intersection)'],value='3', inplace = True)
AccidentData4.JUNCTIONTYPE.replace(to_replace=['Ramp Junction'],value='4', inplace = True)
AccidentData4.JUNCTIONTYPE.replace(to_replace=['Unknown'],value='6', inplace = True)

In [13]:
AccidentData4.head()

,OBJECTID,SEVERITYCODE,SEVERITYDESC,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Day of week,Month of Year
0,1,2,Injury Collision,2,1,9,6,2,3
1,2,1,Property Damage Only Collision,3,2,9,3,2,12
2,3,1,Property Damage Only Collision,3,1,1,6,3,11
3,4,1,Property Damage Only Collision,3,3,1,6,4,3
4,5,2,Injury Collision,2,2,9,6,2,1

Make sure in correct data format (int64)

In [24]:
AccidentData4['JUNCTIONTYPE'] = AccidentData4['JUNCTIONTYPE'].astype(np.int64)
AccidentData4['WEATHER'] = AccidentData4['WEATHER'].astype(np.int64)
AccidentData4['ROADCOND'] = AccidentData4['ROADCOND'].astype(np.int64)
AccidentData4['LIGHTCOND'] = AccidentData4['LIGHTCOND'].astype(np.int64)

In [25]:
AccidentData4.dtypes

OBJECTID          int64
SEVERITYCODE      int64
SEVERITYDESC     object
JUNCTIONTYPE      int64
WEATHER           int64
ROADCOND          int64
LIGHTCOND         int64
Day of week       int64
Month of Year     int64
dtype: object

# Drop SEVERITY DESCRIPTION column

In [27]:
AccidentData4.drop(['SEVERITYDESC'], axis = 1, inplace = True)

In [28]:
AccidentData4.head()

,OBJECTID,SEVERITYCODE,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,Day of week,Month of Year
0,1,2,2,1,9,6,2,3
1,2,1,3,2,9,3,2,12
2,3,1,3,1,1,6,3,11
3,4,1,3,3,1,6,4,3
4,5,2,2,2,9,6,2,1

In [29]:
len(AccidentData4.index)

189337

In [30]:
# Export pandas dataframe to laptop for further use in analysis
AccidentData4.to_csv(r'E:\Training Development\Coursera\IBM Data Science\Course 9 - Capstone Project\Capstone Project Data\AccidentData_4.csv', index = None, header = True)